@import url('https://fonts.google.com/specimen/Lexend+Deca');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root{
    /* tamaño de dispositivos */
    --desktop: 1440px;
    --mobile:375px;
    /* colores  primarios */
    --orange:hsl(31, 77%, 52%);
    --cyan:hsl(184, 100%, 22%);
    --dark-cyan:hsl(179, 100%, 13%);
    /* colores de elementos */
    /* parrafo */
    --white:hsla(0, 0%, 100%, 0.75);
    /* background, headings, buttons */
    --gray:hsl(0, 0%, 95%);

    /* tipografia */
    --text-body:0.9375rem;
    --titulo-weights:700;
    --text-weights:400;
    --text-font  : 'Lexend Deca', sans-serif;
    --title-font : 'Big Shoulders Display', sans-serif;
    --line-height:24px
}
*,*:before,*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--white);
    min-height: 100vh;

}

/* filtro para oscurer la imagen
/* .container::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.1;
    border-radius: 10px 0 0 10px;
    height: 500px;
    max-width: 930px;
} */
.master{
    min-height: 100vh;
    display:flex;
    justify-content: center;
}
.container{
    display:flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin: 1.5rem;
    align-items: center;
}

.square{
    height: 31,25rem;
    width: 19,375rem;
}
@media only screen and (min-width:1024px) {
    .container{
        display:flex;
        height: 31.25rem;
        width: 58.125rem;
        flex-direction: row;
        margin: 0;

        align-self:center ;
    }
}
/* formato del primer contenedor */
.item-1{
    background-color: var(--orange);
    border-radius: 10px 10px 0 0;
    padding: 3.125rem;
    color: var(--orange);
}
@media only screen and (min-width:1024px){
    .item-1{border-radius: 10px 0 0 10px;}
}
/*  */
.item-2{
    background-color: var(--cyan);
    color: var(--cyan);
    padding: 3.125rem;
}
.item-3{
    background-color: var(--dark-cyan);
    color: var(--dark-cyan);
    border-radius: 0 0 10px 10px;
    padding: 3.125rem;
}
@media only screen and (min-width:1024px){
    .item-3{border-radius: 0 10px 10px 0;}
}
/* formato general */
p{
    font-size: var(--text-body);
    font-family: var(--text-font);
    color: var(--white);
    line-height: var(--line-height);
    font-weight: var(--text-weights);
    letter-spacing: 1px;
}
h2{
    margin: 2.625rem 0;
    font-size: 2rem;
    font-family: var(--title-font);
    font-weight: var(--text-weights);
    color: var(--gray);
}
a{
    display: inline-block;
    font-size: var(--text-body);
    margin-top: 2rem;
    text-decoration: none;
    background: var(--gray);
    padding: 1rem 1.75rem;
    color: inherit;
    font-family: var(--text-font);
    border-radius: 2rem;
    border: 2px solid var(--gray);
    font-weight: 500;
}
@media only screen and (min-width:1024px){
    a{margin-top: 5rem;}
}
a:hover{
    background: transparent;
    color: var(--gray);
    border: 2px solid var(--gray)   
}
